---
# SSH role defaults

ssh_port: 22
ssh_permit_root_login: 'no'
ssh_pubkey_auth: 'yes'
ssh_password_auth: 'no'
ssh_permit_empty_passwords: 'no'
ssh_x11_forwarding: 'no'
ssh_max_auth_tries: 3
ssh_client_alive_interval: 300
ssh_hardened_ciphers: true
ssh_hardened_kex: true
ssh_banner_enabled: false
