@version: 3.28

source s_network {
    network(
        transport("udp")
        port({{ syslog_ng_udp_port }})
    );
    network(
        transport("tcp")
        port({{ syslog_ng_tcp_port }})
    );
};

destination d_promtail {
    network(
        "{{ ansible_host }}"
        port({{ promtail_syslog_port }})
        transport("tcp")
    );
};

log {
    source(s_network);
    destination(d_promtail);
};