---
# Firewall role defaults

ssh_port: 22
firewall_rules: []
# Example:
# firewall_rules:
#   - rule: allow
#     port: 80
#     proto: tcp
#     comment: "Allow HTTP"
#   - rule: allow
#     port: 443
#     proto: tcp
#     comment: "Allow HTTPS"
#   - rule: allow
#     port: 53
#     proto: udp
#     comment: "Allow DNS"
