---
# Alertmanager role - Alert routing and notifications

- name: Install dependencies
  apt:
    name:
      - curl
      - wget
    state: present
  become: yes
  tags:
    - alertmanager
    - monitoring

- name: Create alertmanager system user
  user:
    name: alertmanager
    system: yes
    shell: /usr/sbin/nologin
    home: /var/lib/alertmanager
  become: yes
  tags:
    - alertmanager
    - monitoring

- name: Create alertmanager directories
  file:
    path: "{{ item }}"
    state: directory
    owner: alertmanager
    group: alertmanager
    mode: '0755'
  loop:
    - /etc/alertmanager
    - /var/lib/alertmanager
  become: yes
  tags:
    - alertmanager
    - monitoring

- name: Download Alertmanager binary
  shell: |
    cd /tmp
    AM_VERSION="{{ alertmanager_version }}"
    wget -q https://github.com/prometheus/alertmanager/releases/download/v${AM_VERSION}/alertmanager-${AM_VERSION}.linux-amd64.tar.gz
    tar xzf alertmanager-${AM_VERSION}.linux-amd64.tar.gz
    cp alertmanager-${AM_VERSION}.linux-amd64/alertmanager /usr/local/bin/
    cp alertmanager-${AM_VERSION}.linux-amd64/amtool /usr/local/bin/
    chmod +x /usr/local/bin/alertmanager /usr/local/bin/amtool
  args:
    creates: /usr/local/bin/alertmanager
  become: yes
  tags:
    - alertmanager
    - monitoring

- name: Configure Alertmanager
  template:
    src: alertmanager.yml.j2
    dest: /etc/alertmanager/alertmanager.yml
    owner: alertmanager
    group: alertmanager
    mode: '0640'
    backup: yes
  become: yes
  notify: Restart Alertmanager
  tags:
    - alertmanager
    - monitoring

- name: Create Alertmanager systemd service
  copy:
    content: |
      [Unit]
      Description=Prometheus Alertmanager
      After=network.target

      [Service]
      Type=simple
      User=alertmanager
      Group=alertmanager
      ExecStart=/usr/local/bin/alertmanager \
        --config.file=/etc/alertmanager/alertmanager.yml \
        --storage.path=/var/lib/alertmanager \
        --web.listen-address=0.0.0.0:{{ alertmanager_port }}
      Restart=on-failure
      RestartSec=10
      TimeoutStopSec=150s
      StandardOutput=journal
      StandardError=journal

      [Install]
      WantedBy=multi-user.target
    dest: /etc/systemd/system/alertmanager.service
    owner: root
    group: root
    mode: '0644'
  become: yes
  notify: Restart Alertmanager
  tags:
    - alertmanager
    - monitoring

- name: Enable and start Alertmanager service
  systemd:
    name: alertmanager
    enabled: yes
    state: started
    daemon_reload: yes
  become: yes
  tags:
    - alertmanager
    - monitoring

- name: Verify Alertmanager service
  shell: curl -s http://localhost:{{ alertmanager_port }}/-/healthy
  register: alertmanager_status
  changed_when: false
  become: yes
  tags:
    - alertmanager
    - monitoring
