---
# Timezone role handlers

- name: Restart chrony
  service:
    name: chrony
    state: restarted
  become: yes

- name: Restart timesyncd
  service:
    name: systemd-timesyncd
    state: restarted
  become: yes

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes
  become: yes
