---
# Malware Scanning (Maldet) defaults

maldet_version: latest
maldet_email_notifications: false
maldet_admin_email: "root"
maldet_scan_hour: 2
maldet_scan_minute: 0
maldet_update_hour: 0
maldet_update_minute: 30

maldet_scan_paths:
  - /home
  - /var/www
  - /root

maldet_quarantine_suspicious: true
maldet_alert_on_detection: true

# Scan options
maldet_scan_timeout: 3600
maldet_min_file_size: 100
