{
  "postgres": {
    "host": "{{ semaphore_db_host }}:{{ semaphore_db_port }}",
    "user": "{{ semaphore_db_user }}",
    "pass": "{{ semaphore_db_password }}",
    "name": "{{ semaphore_db_name }}",
    "options": {
      "sslmode": "disable"
    }
  },
  "dialect": "{{ semaphore_db_dialect }}",
  "tmp_path": "{{ semaphore_tmp_path }}",
  "cookie_hash": "{{ semaphore_cookie_hash }}",
  "cookie_encryption": "{{ semaphore_cookie_encryption }}",
  "access_key_encryption": "{{ semaphore_access_key_encryption }}",
  "base_path": "{{ semaphore_base_path }}",
  "log_path": "{{ semaphore_log_path }}"
}