auth_enabled: {{ loki_auth_enabled | lower }}

ingester:
  wal:
    dir: {{ loki_wal_dir }}
  chunk_idle_period: {{ loki_chunk_idle_period }}
  chunk_retain_period: {{ loki_chunk_retain_period }}
  max_chunk_age: {{ loki_max_chunk_age }}
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

schema_config:
  configs:
    - from: 2021-06-15
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: {{ loki_http_port }}
  log_level: {{ loki_log_level }}

storage_config:
  boltdb_shipper:
    active_index_directory: {{ loki_storage_path }}/boltdb-shipper-active
    cache_location: {{ loki_storage_path }}/boltdb-shipper-cache
    shared_store: filesystem
  filesystem:
    directory: {{ loki_storage_path }}/chunks

compactor:
  working_directory: {{ loki_storage_path }}/compactor
  shared_store: filesystem
  compaction_interval: 10m
