auth_enabled: {{ loki_auth_enabled | lower }}

ingester:
  wal:
    enabled: true
    dir: {{ loki_wal_dir }}
  chunk_idle_period: {{ loki_chunk_idle_period }}
  chunk_retain_period: {{ loki_chunk_retain_period }}
  max_chunk_age: {{ loki_max_chunk_age }}
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: {{ loki_retention_days * 24 }}h

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: {{ loki_http_port }}
  log_level: {{ loki_log_level }}
  grpc_listen_port: 9096

storage_config:
  filesystem:
    directory: {{ loki_storage_path }}/chunks
  tsdb_shipper:
    active_index_directory: {{ loki_storage_path }}/tsdb-index
    cache_location: {{ loki_storage_path }}/tsdb-cache

compactor:
  working_directory: {{ loki_storage_path }}/compactor
  compaction_interval: 10m
