server:
  log_level: {{ grafana_agent_log_level }}

metrics:
  wal_directory: /tmp/agent_wal
  global:
    scrape_interval: {{ grafana_agent_scrape_interval }}
    scrape_timeout: {{ grafana_agent_scrape_timeout }}
    external_labels:
      hostname: {{ ansible_hostname }}
  configs:
    - name: integrations
      scrape_configs:
        - job_name: node
          static_configs:
            - targets: ['localhost']
              labels:
                instance: '{{ ansible_hostname }}'
      remote_write:
        - url: {{ prometheus_push_url }}

positions:
  filename: /tmp/agent_positions

logs:
  configs:
    - name: default
      clients:
        - url: {{ loki_push_url }}
      scrape_configs:
        - job_name: syslog
          static_configs:
            - targets: [localhost]
              labels:
                job: syslog
                host: '{{ ansible_hostname }}'
                __path__: /var/log/syslog
            - targets: [localhost]
              labels:
                job: syslog
                host: '{{ ansible_hostname }}'
                __path__: /var/log/auth.log
