---
# Main playbook - Configure all essentials on all hosts

- name: Configure system essentials
  hosts: all
  gather_facts: yes
  
  pre_tasks:
    - name: Display host information
      debug:
        msg: "Configuring {{ inventory_hostname }} ({{ ansible_os_family }})"

  roles:
    - role: apt
      tags: [apt]
    - role: packages
      tags: [packages]
    - role: user_accounts
      tags: [users]
    - role: users_ops
      tags: [users-ops]
    - role: ssh
      tags: [ssh]
    - role: timezone
      tags: [timezone]
    - role: hostname
      tags: [hostname]
    - role: firewall
      tags: [firewall]
    - role: mail
      tags: [mail]
    - role: updates
      tags: [updates]
    - role: docker
      tags: [docker]
      when: inventory_hostname in groups.get('docker_hosts', []) or inventory_hostname in groups.get('ubuntu_desktop', [])
    - role: rundeck
      tags: [rundeck]
      when: inventory_hostname in groups.get('rundeck_hosts', [])
    - role: apparmor
      tags: [apparmor, security]
    #TODO: ADD OSSEC SERVER Playbook + update integrity_monitoring to integrity_monitoring_agent
    #- role: integrity_monitoring
    #  tags: [integrity-monitoring, security]
    - role: malware_scanning
      tags: [malware-scanning, security]
    - role: security_audits
      tags: [security-audits, security]
    - role: log_rotation
      tags: [log-rotation, monitoring]
    - role: loki
      tags: [loki, monitoring]
    - role: prometheus
      tags: [prometheus, monitoring]
    - role: grafana_agent
      tags: [grafana-agent, monitoring]
    - role: alertmanager
      tags: [alertmanager, monitoring]
    - role: monit
      tags: [monit, monitoring]

  post_tasks:
    - name: Display completion message
      debug:
        msg: "Configuration complete on {{ inventory_hostname }}"
