global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
    hostname: {{ ansible_hostname }}

rule_files:
  - {{ prometheus_alert_rules_file }}

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - localhost:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']
  
  - job_name: 'node'
    static_configs:
      - targets: ['localhost:9100']
        labels:
          instance: '{{ ansible_hostname }}'
